<!-- Profile Page For Children's Home To edit their profile -->
{% extends "base.html" %}

{% block title %}Your Account{% endblock%}

{% block content%}

<div id="user_details">
    <form method="POST">
        <h3 align="center">Edit Your Profile</h3>
        <div>
            <label for="home_name">Name of Home</label>
            <input 
                type="text" 
                id="home_name" 
                name="home_name" 
                placeholder="Enter name of the home"
            />
            <br>
            <label for="current_email">Current Email Address</label>
            <input 
                type="email" 
                id="current_email" 
                name="current_email" 
                placeholder="Confirm current email address"
            />
            <br>
            <label for="home_email">New Email Address</label>
            <input 
                type="email" 
                id="home_email" 
                name="home_email" 
                placeholder="Enter email address"
            />
            <br>
            <label for="home_location">Location</label>
            <input 
                type="text" 
                id="home_location" 
                name="home_location" 
                placeholder="Enter address of the home"
            />
            <br>
            <label for="home_population">Population</label>
            <input 
                type="text" 
                id="home_population" 
                name="home_population" 
                placeholder="How many children live in the home"
            />
            <br>
            <label for="home_specialization">Specialization</label>
            <input 
                type="text" 
                id="home_specialization" 
                name="home_specialization" 
                placeholder="e.g special needs children"
            />
            <br>
            <label for="home_description">Description</label>
            <input 
                type="text" 
                id="home_description" 
                name="home_description" 
                placeholder="Give a brief description of the home. Max 512 characters"
            />
            <br>
        <br>
        <button type="submit">Save Changes</button>
    </form>
</div>

{% endblock %}