<!-- Page For Donater's To edit their profile -->
{% extends "base.html" %}

{% block title %}Your Account{% endblock%}

{% block content%}

<div id="user_details">
    <form method="POST">
        <h3 align="center">Edit Your Profile</h3>
        <div>
            <label for="donater_name">Full Name</label>
            <input 
                type="text" 
                id="donater_name" 
                name="donater_name" 
                placeholder={{user.full_name}}
            />
            <br>
            <label for="current_email">Current Email Address</label>
            <input 
                type="email" 
                id="current_email" 
                name="current_email" 
                placeholder="Confirm current email address"
                required
            />
            <br>
            <label for="donater_email">New Email Address</label>
            <input 
                type="email" 
                id="donater_email" 
                name="donater_email" 
                placeholder="Enter new email address"
            />
            <br>
        <br>
        <button type="submit">Save Changes</button>
        <button><a href="/donater">Cancel</a></button>
    </form>
</div>

{% endblock %}