{% extends "base.html" %}

{% block title %}Children's Homes{% endblock%}

{% block content%}
<div>
    <h1>Get Matched With A Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        Pulvinar elementum integer enim neque volutpat ac tincidunt. In arcu cursus euismod quis viverra nibh cras pulvinar mattis. 
        Sagittis orci a scelerisque purus semper eget.
    </p>
    <button><a href="/matchmaking-survey">Start Now</a></button>
</div>
{% endblock %}